language: python
# Version to Test Against
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "2.7"

# Install Dependencies
install:
    - pip install nose
    - pip install pyyaml
    - pip install coveralls
    - pip install jinja2
# Run Tests
script:
    - './run_tests.sh'

after_success:
    - coveralls
